body {
  font-family: var(--font-body);
  background-color: var(--color-white);
  color: var(--color-black);
}

h1,
h2,
h3 {
  font-family: var(--font-headings);
  text-transform: uppercase; /* Display fonts like this usually look best in uppercase */
  letter-spacing: 1px;
}

