.skeletonCard {
  background-color: var(--color-white);
  border: 1px solid var(--color-border);
}

.blank {
  background-color: #e5e7eb; 
  background-image: linear-gradient(
    90deg,
    #e5e7eb 0px,
    #f3f4f6 40px,
    #e5e7eb 80px
  );
  background-size: 200% 100%;
}

.skeletonButton {
  background-color: #e5e7eb;
}
